doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    |     
    title
    |     
    link(type="text/css", href="stylesheets/styles.css", rel="stylesheet")
    |
    link(type="text/css",href="stylesheets/animate.min.css",rel="stylesheet")
    |
    link(type="text/css",href="stylesheets/style.css", rel="stylesheet")
    |
    link(type="text/css",href="stylesheets/reset.css", rel="stylesheet")
    |
    script(src="javascripts/jquery-1.11.0.min.js", type="text/javascript")   
    |  
    script(src="javascripts/modernizr-custom.js", type="text/javascript")
    |
    script(src="javascripts/main.js", type="text/javascript")
    |
    script(src="javascripts/jquery-1.11.2.min.js", type="text/javascript")
    |     
    script(src="javascripts/modernizr-2.6.2.min.js", type="text/javascript")
    |     
    script(src="javascripts/starbg.js", type="text/javascript")
    |
    script(src="javascripts/user.js", type="text/javascript")
    |
    style.
      *{ margin:0; padding:0;}
      canvas{ display: block; margin: 0; width:100%; height:100%; position: fixed; left: 0; right: 0; top:0; bottom:0;
      z-index: -1; }
      .content{ width: 1144px; margin: 0 auto; padding-top:200px;}
      .rabitBg{ position:fixed; left:0; top:50%;}
  body
    
    canvas#fullstarbg 你的浏览器不支持canvas标签
    |
    header.cd-morph-dropdown
      a.nav-trigger(href="#0") Open Nav
        span(aria-hidden="true")
      nav.main-nav
        ul
          li(class="has-dropdown home" data-content="home")
            a.myhome(href="#0") 首页
          li(class="has-dropdown gallery" data-content="about")
            a.mywine(href="#0") 我的故事
          li(class="has-dropdown links" data-content="pricing")
            a.mycandy(href="#0") 我的糖果
          li(class="has-dropdown button" data-content="contact")
            a.exit(href="#0") 退出登陆
      .morph-dropdown-wrapper
        .dropdown-list
          ul
            li#home(class="dropdown home")
              a.myhome.label(href="#0") 首页
            li#about(class="dropdown gallery")
              a.mywine.label(href="#0") 我的故事
            li#pricing(class="dropdown links")
              a.mycandy.label(href="#0") 我的糖果
            li#contact(class="dropdown button")
              a.exit.label(href="#0") 退出登陆
    | 
    .content
      img.rabitBg(src="images/rabit.png")
      |
      .main
        .div1.animated
          #left.boxes.animated
            p.title1 故事坊
            img.star(src="images/star.png")
          |
          .intro
            p#intro1 每个人大概都会有周期性的情绪低落。 
              br
              | 这件事如同自然规律，一旦这个周期开始，我们便很难去强行叫停。
              br
              | 不过也慢慢的，开始接受了这些周期性的情绪低落。
              br
              | 会去寻找让自己的心情好起来的方法，但也不会在持续低落的时候感到过于焦虑。
              br
              | 会敏锐地捕捉到到一丝细微的情绪的病状，也会在踟躇中开口求救，而不是任由糟糕的情绪堆积。

        |
        .div2.animated
          #right.boxes.animated
            p.title1 糖果屋
            img.star(src="images/star.png")
          |
          .intro
            p#intro2 最近这一年太魔幻了
              br
              |穷人更穷、朋友非友、有钱也没安全感...
              br
              | 电影般离谱的情节频频在现实里出现。
              br
              | 不由得会出现一种恍惚感：难道生活本来就这么苦的么？
              br
              | 这次，我们想和你做个能制造开心的人！
              br
              | 这里的糖果屋，正在出售着各色各样 “专治不开心” 的糖果。
              br
              | 糖果里可能是一个笑话、一句暖心的文字，也可能是一首让人开心的歌...
              
        |
        .div3.animated
          #dialeft
            img#myleft(src="images/dialeft.png")
            img#antyStar(src="images/star_y.png")
            p#convleft “欲说还休，欲说还休，却道天凉好个秋。”
              br
              | 我们还没学会怎么像成年人一样解决问题，却率先感受到了成年人生活的苦闷。
              br
              | 在我们的酒屋里，您可以说出自己的烦恼，现在您可以开始写下您的故事了！
        |
        .div4.animated
          #diaright
            img#myright(src="images/diaright.png")
            textarea#convright.text(placeholder='请说出您的故事', autocomplete='off', rows='3', cols='5', wrap='virtual', width="250")
            .automatic
              input#auto(type="checkbox")
              p#autotext 匿名
            button#confirm 提交
        |
    |

